@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #232946;
}

.container {
  display: flex;
  padding: 0 20px;
  height: 80vh;
  width: 100%;
}

.slide {
  margin: 5px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.slide h3 {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.3s;
}